html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

canvas {
    display: block;
}
